<div>

    <button ng-click="showDialog()">show dialog</button>


    <hr/> {{checkboxModel}}
    <hr/>

    <checkbox ng-model="checkboxModel" caption="please select me" disabled="true"></checkbox>

    <hr/>

    <div style="display:flex;">
        <div style="flex:1"></div>
    <div class="boldBluCol estimateTotalAmountSelector" style="background: red;"
         errors="[EstimateItemValidator.validateEstimateAmount(), EstimateItemValidator.validateZeroSubmit(), EstimateItemValidator.validatePresumptionAllLoss(1)]"
         warnings="[EstimateItemValidator.validatePresumptionAllLoss(2)]"
         ng-mouseenter='showEstimateTotalAmountParticular($event)'>
        aaaaa
    </div>
        <div style="flex:1"></div>
        </div>
    <tooltip-panel api="estimateTotalAmountParticular" panel-cls="popupPanel " direction="below" align="center" arrow-flag="true" offset="8">
        <div>
            <div>
                <span>配件金额:</span>
                <span>{{calculatePartAmount(claimItems, CLAIMMODEL.claimInfo.entireSalvage)|number:2}}</span>
            </div>
            <div>
                <span>工时金额:</span>
                <span>{{calculateLabourAmount(claimItems)|number:2}}</span>
            </div>
            <div>
                <span>辅料金额:</span>
                <span>{{calculateMaterialAmount(claimItems)|number:2}}</span>
            </div>
        </div>
    </tooltip-panel>
</div>