<div class="topic-space-list container">
    <div id="searchbar" class="row" style="background: orange; display: flex; padding:5px; margin:10px 0px;">
        <div class="search">
            <input type="text" autocomplete="off" placeholder="Search">
            <i class="fa fa-search fa-lg"></i>
        </div>
    </div>
    <div class="row">
        <article class="col-md-9 col-sm-9">
            <topic-card-item *ngFor="let topic of topicList" [topic]="topic" (on-topic-selected)="onTopicSelected"></topic-card-item>
        </article>
        <aside class="col-md-3 col-sm-3 text-sm-center text-md-center">
            <div class="title">每月新剧推荐</div>
            <div class="content">
                <topic-snapshot *ngFor="let topic of monthlyHotestTopicList" [topic]="topic" (on-topic-selected)="onTopicSelected"></topic-snapshot>
            </div>
        </aside>
    </div>
</div>