<div class="topic-space-list container">
    <div *ngIf="showSearchPanelFlag!=true" class="row search-bar" style="background: orange; padding:5px; margin:10px 0px;">
        <div class="search">
            <input type="text" [(ngModel)]="paramSubject" autocomplete="off" placeholder="请输入要查找的广播剧名">
            <i class="fa fa-search fa-lg"></i>

        </div>
        <div style="margin-left:20px;" (click)="setSearchPanelVisible(true)">精确查找>></div>
    </div>
    <div *ngIf="showSearchPanelFlag==true" class="search-panel row" style="background: #fcf8e3; padding:5px; margin:10px 0px;">
        <div clas="container" style="width:100%;">
            <div class="row" >
                <div class="col-sm-3">广播剧查询</div>
                <div class="col-sm-9" style="margin-left:20px;" (click)="setSearchPanelVisible(false)">返回<<</div>
            </div>
            <div class="row">
                <div class="col-sm-6">xx</div>
                <div class="col-sm-6">xx</div>

            </div>
        </div>
    </div>
    <div class="row">
        <article class="col-md-9 col-sm-9">
            <topic-card-item *ngFor="let topic of topicList" [topic]="topic" (on-topic-selected)="onTopicSelected"></topic-card-item>
        </article>
        <aside class="col-md-3 col-sm-3 text-sm-center text-md-center">
            <div class="title">每月新剧推荐</div>
            <div class="content">
                <topic-snapshot *ngFor="let topic of monthlyHotestTopicList" [topic]="topic" (on-topic-selected)="onTopicSelected"></topic-snapshot>
            </div>
        </aside>
    </div>
</div>