<header class="container top-bar">
    <div class="row">
        <div class="col-sm-12 col-xs-12" style="display: flex; justify-content: center;">
            <img class="item navbar-brand" src="images/page-loading-logo.gif" style="height:40px;" alt="loading-logo"/>
            <div class="navbar navbar-default" role="navigation" style="flex:1;">
                <ul class="nav navbar-nav">
                    <!--<li *ngFor="let menu of appInfo.menus" [ngClass]="{ active:'active', dropdown:'dropdown'}">-->
                    <li *ngFor="let menu of appInfo.menus" class="nav-item">
                        <a class="nav-link" (click)="navigateToModule(menu)" title="{{menu.name}}"
                           routerLinkActive="active">{{menu.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="item search">
                <div>
                    <input type="text" autocomplete="off" placeholder="Search"/>
                    <i class="fa fa-search fa-lg"></i>
                </div>
            </div>
            <div class="item user-avatar">
                <div (click)="openUserInfo()" title="默认个人资料图片">
                    <span class="fa fa-user fa-2x" aria-label="默认个人资料图片"></span>
                </div>
            </div>
            <div class="item user-setting">
                <div>
                    <i class="fa fa-gear fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</header>