<!--{template header}-->

<!--{template nav_header}-->

<div class="tabs_header">
<ul class="tabs">
	<!--{if $_GET['op'] == 'new'}-->
		<li class="active"><a href="cp.php?ac=cover&op=new"><span>添加新翻唱</span></a></li>
	<!--{else}-->
		<li <!--{if $_GET[op]=='edit'}-->class="active"<!--{/if}-->><a href="cp.php?ac=cover&op=edit&coverid=$cover[coverid]"><span>编辑翻唱</span></a></li>
		<li <!--{if $_GET[op]=='invite'}-->class="active"<!--{/if}-->><a href="cp.php?ac=cover&op=invite&coverid=$cover[coverid]"><span>邀请好友</span></a></li>
	<!--{/if}-->
		<li><a href="space.php?do=cover&view=me"><span>返回翻唱列表</span></a></li>
</ul>
	<!--{if $_SGLOBAL[refer]}-->
	<div class="r_option"><a href="$_SGLOBAL[refer]">&laquo; 返回上一页</a>
	</div>
	<!--{/if}-->
</div>

<!--{if $_GET['op'] == 'new'}-->

	<!--{template cp_cover_manage}-->
	
<!--{elseif $_GET['op'] == 'edit'}-->
	
	<!--{template cp_cover_manage}-->

<!--{elseif $_GET['op'] == 'invite'}-->
	
	<!--{template cp_cover_invite}-->
	
<!--{/if}-->
	
<!--{template footer}-->