<div style="background:none repeat scroll 0 0 #F2F2F2;border: 1px solid #CDCDCD;height: 29px;line-height: 29px;">
	<table cellspacing="0" cellpadding="0" style="float:left; height:29px;">
		<tr>
			<td align="center" nowrap>
				<div style="background:url('image/pt_icn.png') no-repeat scroll 7px 8px transparent; width:24px; height:29px;">&nbsp;&nbsp;</div>
			</td>
			<td align="center" nowrap>
				<div style="background:url('image/pt_item.png') no-repeat scroll 30% -1px transparent; width:24px; height:29px;">&nbsp;&nbsp;</div>
			</td>
			<td align="center" nowrap>
				<div style="font-size:14px;">&nbsp;<a href="space.php?do=forum">游泳池</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
			</td>
			<td align="center" nowrap>
				<div style="background:url('image/pt_item.png') no-repeat scroll 30% -1px transparent; width:24px; height:29px;">&nbsp;&nbsp;</div>
			</td>
			<td align="center" nowrap>
				<div style="font-size:14px;">&nbsp;
				<!--{if empty($thread)}-->
					<a href="cp.php?ac=forum&op=newthread">发表新帖</a>
				<!--{else}-->
					<a href="cp.php?ac=forum&op=editthread&tid=$thread[tid]">编辑帖子</a>
				<!--{/if}-->&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</td>
		</tr>
	</table>
</div>
<!--{eval $editormode='threadedit'; }-->
<!--{template cp_forum_threadeditor}-->