<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base target="_self"/>
<meta http-equiv="content-type" content="text/html; charset=gbk" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title><!--{if $_TPL['titles']}--><!--{loop $_TPL['titles'] $value}--><!--{if $value}-->$value - <!--{/if}--><!--{/loop}--><!--{/if}--><!--{if $_SN[$space[uid]]}-->{$_SN[$space[uid]]} - <!--{/if}-->$_SCONFIG[sitename] - Powered by 应声虫工作室</title>
<script language="javascript" type="text/javascript" src="source/script_cookie.js"></script>
<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>
<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
<script language="javascript" type="text/javascript" src="source/script_face.js"></script>
<script language="javascript" type="text/javascript" src="source/script_manage.js"></script>
<style type="text/css">
@import url(template/default/style.css);
<!--{if $_TPL['css']}-->
@import url(template/default/{$_TPL[css]}.css);
<!--{/if}-->
<!--{if !empty($_SGLOBAL['space_theme'])}-->
@import url(theme/$_SGLOBAL[space_theme]/style.css);
<!--{elseif $_SCONFIG[template] != 'default'}-->
@import url(template/$_SCONFIG[template]/style.css);
<!--{/if}-->
<!--{if !empty($_SGLOBAL['space_css'])}-->
$_SGLOBAL[space_css]
<!--{/if}-->
</style>

<link rel="shortcut icon" href="image/favicon.ico" />
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=$space[uid]" />
</head>
<body>
<div class="mainarea">
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="#"><span>群组列表</span></a></li>
	</ul>
</div>

<form id="actionform" name="actionform" method="get" action="cp.php">
	<div class="block style4">
		<table width="100%" cellspacing="3" cellpadding="3">
			<tr>
				<th width="20%">群组ID</th>
				<td width="20%"><input type="text" name="tagid" value="$_GET[tagid]" /></td>
				<td width="20%"></td>
				<th width="20%">群组名</th>
				<td width="20%"><input type="text" name="tagname" value="$_GET[tagname]" /></td>
			</tr>
			<tr>
				<th width="20%">群组类型</th>
				<td width="20%">
					<!--{if !empty($_GET[lockfieldid]) }-->
						<input type="hidden" id="lockfieldid" name="lockfieldid" value="$_GET[lockfieldid]" />
						已锁定				
					<!--{else}-->
						<select id="fieldid" name="fieldid">
							<option value="-1"></option>
							<!--{loop $_SGLOBAL[profield] $value}-->
							<option value="$value[fieldid]">$value[title]</option>
							<!--{/loop}-->
						</select>	
					<!--{/if}-->
				</td>
				<td width="20%"></td>
				<th width="20%"></th>
				<td width="20%" align="right">
					<input type="hidden" id="ac" name="ac" value="mtag" />
					<input type="hidden" id="op" name="op" value="querymds" />
					<input type="hidden" id="view" name="view" value=$view />
					<input type="hidden" id="widget" name="widget" value="$_GET['widget']" />
					<input type="submit" id="searchsubmit" name="searchsubmit" value="搜索" class="submit" />
					&nbsp;&nbsp;&nbsp;&nbsp;				
				</td>
			</tr>
		</table>
	</div>

	<table width="100%" cellspacing="0" cellpadding="0" class="reclisttable">
		<tr>
			<td align="right" colspan="5">
				<input type="button" name="searchsubmit" value="选择" class="submit" onclick="javascript:selectRec();"/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<th width="25px" colspan="1" align="center">&nbsp;</th>
			<th width="100px" align="center">群组编号</th>
			<th align="center" nowrap>群组名</th>
			<th width="100px" align="center">群组类型</th>
			<th width="100px" align="center">创建时间</th>
		</tr>
		<!--{loop $list $key $value}-->
		<tr <!--{if $key%2==1 }-->bgcolor="#FCF9E6"<!--{/if}-->>
			<td><input type="radio" name="ids[]" value="$value[tagid]"/></td>
			<td align="center">&nbsp;$value[tagid]&nbsp;</td>
			<td align="center">&nbsp;<a href="space.php?do=mtag&tagid=$value[tagid]" target="_blank">$value[tagname]</a>&nbsp;</td>
			<td align="center">&nbsp;$value[fieldname]&nbsp;</td>
			<td align="center">$value[dateline]</td>
		</tr>
		<!--{/loop}-->
	</table>
	<div width="100%" class="pages">$multi</div>

</form>
</div>
<script type="text/javascript">
window.resizeTo(900,950);

function selectRec(){
	var selids="";
	var form=$('actionform');
	for(var i = 0; i < form.elements.length; i++) {
		var e = form.elements[i];
		
		if(e.name.match("ids")) {
			if(e.checked){
				selids=e.value;
			}
		}
	}
	if(selids==""){
		alert("请选择要操作的记录。");
		return;
	}

	var widget=$('widget').value;
	if(window.dialogArguments!=null){
		//IE Use
		window.dialogArguments.window.document.getElementById(widget).value=selids;
	}else{
		opener.window.document.getElementById(widget).value=selids;
	}
	window.close();
}

</script>
</body>
</html>