<form id="inviteform" name="inviteform" method="post" action="cp.php?ac=poll&op=invite&pid=$poll[pid]&uid=$_GET[uid]&grade=$_GET[grade]&group=$_GET[group]&page=$_GET[page]&start=$_GET[start]">

<h2 class="title"><img src="image/app/poll.gif" />投票</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="cp.php?ac=poll"><span>发起新投票</span></a></li>
		<li class="active"><a href="cp.php?ac=poll&op=invite&pid=$poll[pid]"><span>邀请好友</span></a></li>
		<li><a href="space.php?uid=$poll[uid]&do=poll&pid=$poll[pid]"><span>返回投票</span></a></li>
	</ul>
</div>
<div id="content" style="width: 640px;">
	<div class="h_status">
		您可以邀请下列好友来参与<a href="space.php?uid=$poll[uid]&do=poll&pid=$poll[pid]">《$poll[subject]》</a>投票
	</div>
	
	<div class="h_status">
		<!--{if $list}-->
		<ul class="avatar_list">
		<!--{loop $list $value}-->
			<li><div class="avatar48"><a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}"><!--{avatar($value[fuid],small)}--></a></div>
				<p>
				<a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}">{$_SN[$value[fuid]]}</a>
				</p>
				<p><!--{if empty($invitearr[$value[fuid]])}--><input type="checkbox" name="ids[]" value="$value[fuid]">选定<!--{else}-->已邀请<!--{/if}--></p>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">还没有好友。</div>
		<!--{/if}-->
	</div>
	<p>
	<!--{if $list}-->
		<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')">全选 &nbsp;
		<input type="hidden" id="invitesubmittype" name="invitesubmittype" value="1" />
		<input type="button" value="邀请我选择的好友" class="submit" onclick="javascript:invite_selectedfriends();"/>
		<br/><br/>
		<input type="button" value="邀请所有好友[消费50积分]" class="submit" onclick="javascript:invite_allfriends();"/>
		<input type="button" value="邀请所有成员[消费200积分]" class="submit" onclick="javascript:invite_allmembers();">
	<!--{/if}-->
	</p>
</div>

<div id="sidebar" style="width: 150px;">
	<div class="cat">
		<h3>好友分类</h3>
		<ul class="post_list line_list">
			<li<!--{if $_GET[group]==-1}--> class="current"<!--{/if}-->><a href="cp.php?ac=poll&pid=$poll[pid]&op=invite&group=-1">全部好友</a></li>
			<!--{loop $groups $key $value}-->
			<li<!--{if $_GET[group]==$key}--> class="current"<!--{/if}-->><a href="cp.php?ac=poll&pid=$poll[pid]&op=invite&group=$key">$value</a></li>
			<!--{/loop}-->
		</ul>
	</div>
</div>
<script type="text/javascript">

	//检查提交
	function invite_selectedfriends() {
		$('invitesubmittype').value=1;//invite with target
		$("inviteform").submit();
	}

	function invite_allfriends() {
		$('invitesubmittype').value=2;//invite all friends
		$("inviteform").submit();
	}

	function invite_allmembers() {
		$('invitesubmittype').value=3;//invite all members
		$("inviteform").submit();
	}
	
</script>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>