<div><div><h2 class="title">我的成就 - 向大家展示您的作品</h2>
	<form id="ajaxform" name="ajaxform" method="post" action=""></form>
	<div class="neverVisible"><div id="__ajaxform"></div></div>
	
	<form id="edit_form" name="edit_form" method="post" action="" class="c_form">
	<input type="hidden" name="resumehistoryid" id="resumehistoryid" value="$resumehistory[resumehistoryid]"/>
	<script type="text/javascript" src="source/script_autocomplete.js"></script>
	<table cellspacing="6" cellpadding="0" width="600px" border=0>
	<tr>
		<th width="120" nowrap>作品分类：</th>
		<td>
			<select id="producttype" name="producttype">
				<option value="-1">请选择作品分类</option>
				<!--{loop $_SGLOBAL[producttype] $key $value}-->
				<option value="$key"<!--{if $resumehistory[producttype] == $value[classid]}-->
				selected<!--{/if}--> >$value[classname]</option>
				<!--{/loop}-->
			</select>
			<input type="hidden" id="productname" name="productname" value="$resumehistory[productname]"/>
			<input type="hidden" id="productid" name="productid" value="$resumehistory[productid]"/>
		</td>
	</tr>
	<tr>
		<th nowrap>&nbsp;</th>
		<td>
			<table id="product_exist" width="100%" border=0>
				<tr>
					<td>
						请确认 该作品 的编号：　
						<input type="text" id="product_exist_id" name="product_exist_id" value="" size="8" maxlength="8" onchange="javascript:loadproductbyid_ajax();"  class="t_input">
						<a href="#" onclick="javascript:productquerymds();return false;">查询</a>
					</td>
				</tr>
				<tr>
					<td>
						作品名称：　<input type="text" id="product_exist_name" name="product_exist_name" value="" style="border:0px;"  class="t_input" READONLY/>
						类型：　<input type="text" id="product_exist_productclassname" name="product_exist_productclassname" value="" style="border:0px;" size="6"  class="t_input" READONLY/>
						团队：　<input type="text" id="product_exist_club" name="product_exist_club" value="" style="border:0px;" size="16"  class="t_input" READONLY/>
						<input type="hidden" id="product_exist_clubtagid" name="product_exist_clubtagid" value=""/>
					</td>
				</tr>
				<tr>
					<td align="right">
						[<a href="#" onclick="javascript:displayInputType_product(false);return false;">没有查到该作品</a>]
					</td>
				</tr>
			</table>
			<table id="product_notexist" width="100%">
				<tr>
					<td>
						作品名称：　<input type="text" id="product_notexist_name" name="product_notexist_name" value="" style="width: 200px;"  class="t_input"/>
					</td>
				</tr>
				<tr>
					<td align="right">
						[<a href="#" onclick="javascript:displayInputType_product(true);return false;">重新确认 该作品 的编号</a>]
					</td>
				</tr>
			</table>
		</td>
<script type="text/javascript">
	initInputType_product();
	
	function initInputType_product() {
		if( ($("productid").value=="" || $("productid").value==0) && $("productname").value!="" ){
			displayInputType_product(false);
			$("product_notexist_name").value = $("productname").value;
		}
		else{
			displayInputType_product(true);
			$("product_exist_id").value = $("productid").value;
			$("product_exist_name").value = $("productname").value;
		}
	}
	
	function displayInputType_product(hasid) {
		if( hasid == true ){
			$("product_exist").style.display="";
			$("product_notexist").style.display="none";
			
		}
		else{
			$("product_exist").style.display="none";
			$("product_notexist").style.display="";
		}	

		if($("resumehistoryid").value>0){

		}
		else{
			if($("tagflag")){
				$("tagflag").checked=!hasid;
				displayInputType_tagflag();
			}
		}
	}

	function setInputType_product() {
		if( $("product_exist").style.display!="none" ){
			if($("product_exist_id").value==""){
				alert("请输入该作品编号！");
				return false;
			}
			$("productid").value = $("product_exist_id").value;
			$("productname").value = $("product_exist_name").value.trim();
		}
		if( $("product_notexist").style.display!="none" ){
			if($("product_notexist_name").value.trim()==""){
				alert("请输入该作品名称！");
				return false;
			}
			else if ($("product_notexist_name").value.length > 80) {
				alert("作品名称太长，请限制在80个字符内！");
				return false;
			}
			$("productid").value = 0;
			$("productname").value = $("product_notexist_name").value.trim();
		}
		return true;
	}
	
	function productquerymds(){
		var url="";
		var param="";
		if($("producttype").value=="1"){
			url = "cp.php?ac=topic&op=querymds&widget=product_exist_id&topicid="+$('product_exist_id').value;
			param = "dialogWidth:850px;dialogHeight:650px;center:yes;help:no;menubar:no;titleBar:no;resizable:no";
		}
		else if($("producttype").value=="2"){
			url = "cp.php?ac=cover&op=querymds&widget=product_exist_id&coverid="+$('product_exist_id').value;
			param = "dialogWidth:850px;dialogHeight:600px;center:yes;help:no;menubar:no;titleBar:no;resizable:no";
		}
		else if($("producttype").value=="3"){
			url = "cp.php?ac=video&op=querymds&widget=product_exist_id&videoid="+$('product_exist_id').value;
			param = "dialogWidth:850px;dialogHeight:600px;center:yes;help:no;menubar:no;titleBar:no;resizable:no";
		}
		else {
			alert("请选择作品分类！");
			$("producttype").focus();
			return;
		}
		
		var args=new Object();
		args.window=window;
		window.showModalDialog( url, args, param);
		loadproductbyid_ajax();
	}
			
	function loadproductbyid_ajax(){
		var url="";
		if($("producttype").value=="1"){
			url = "cp.php?ac=topic&op=loadtopicsinglebyid_ajax&topicid="+$('product_exist_id').value;
		}
		else if($("producttype").value=="2"){
			url = "cp.php?ac=cover&op=loadcoverbyid_ajax&coverid="+$('product_exist_id').value;
		}
		else if($("producttype").value=="3"){
			url = "cp.php?ac=video&op=loadvideobyid_ajax&videoid="+$('product_exist_id').value;
		}
		else {
			alert("请选择作品分类！");
			return;
		}

		var offset = 0;
		var duration = 3;
			
		timeout = 0;
		isbox = 0;
		duration = 0;
					
		showloading();
					
		var form = $('ajaxform');
			
		form.action = url;
		form.method = "post";
				
		ajaxpost('ajaxform', 'loadproductbyid_ajax_response', 2000);
	}

	function loadproductbyid_ajax_response(){

		$("tagflag_unchecked_clubtagid").value="";
		$("tagflag_unchecked_club").value="";
		
		var productid="";
		var productname="";
		var productclassname="";
		var productclubtagid="";
		var productclub="";
		try{
			var str=$("__ajaxform").innerHTML;
					
			var paramsArray=str.split(",");
			if(paramsArray.length==1){
				alert(str);
				productid="";
				productname="";
				productclassname="";
				productclubtagid="";
				productclub="";
			}else{
				productid = paramsArray[0];
				productname = paramsArray[1];
				productclassname = paramsArray[3];
				productclubtagid = paramsArray[4];
				productclub = paramsArray[5];
			}
		}
		catch(e){
			alert(e);
		}
		
		$("product_exist_id").value=productid;
		$("product_exist_name").value=productname;
		$("product_exist_productclassname").value=productclassname;
		$("product_exist_clubtagid").value=productclubtagid;
		$("product_exist_club").value=productclub;
		
		if(productclubtagid == "" || productclubtagid=="0"){
			$("tagflag_unchecked_clubtagid").value="";
			$("tagflag_unchecked_club").value=productclub;
			$("tagflag_unchecked_value").innerHTML = 
				"社团名称："+productclub;
		}else{

			$("tagflag_unchecked_clubtagid").value=productclubtagid;
			$("tagflag_unchecked_club").value=productclub;
			
			$("tagflag_unchecked_value").innerHTML = 
				"社团编号："+productclubtagid +
				"社团名称："+productclub;
		}
	}

</script>
	</tr>
	<tr>
		<th nowrap>&nbsp;</th>
		<td>&nbsp;</td>
	</tr>
	<tr id="tagflag_content">
		<th nowrap>&nbsp;</th>
		<td>
			<input type="checkbox" id="tagflag" name="tagflag" value="1" onclick="javascript:displayInputType_tagflag()" >请添加社团群组关联
		</td>
	</tr>
	<tr>
		<th nowrap>&nbsp;</th>
		<td>&nbsp;</td>
	</tr>
	<tr id="tagflag_unchecked_club">
		<td width="100px" nowrap>所属社团：</td>
		<td>
			<span>该属性将从广播剧信息中进行采集</span>
			<input type="hidden" id="tagflag_unchecked_clubtagid" name="tagflag_unchecked_clubtagid" value=""/>
			<input type="hidden" id="tagflag_unchecked_club" name="tagflag_unchecked_club" value=""/>
		</td>
	</tr>
	<tr id="tagflag_unchecked_clubcontent">
		<td nowrap>&nbsp;</td>
		<td id="tagflag_unchecked_value">
		</td>
	</tr>
	<tr id="tagflag_checked_club">
		<td width="100px" nowrap>所属社团：</td>
		<td>
			<input type="hidden" id="club" name="club" value="$resumehistory[club]"/>
			<input type="hidden" id="clubtagid" name="clubtagid" value="$resumehistory[clubtagid]"/>
			
			<select id="clubtype" name="clubtype" onchange="javascript:displayInputType_club();">
				<option value="1">个人剧</option>
				<option value="2">社团</option>
			</select>
		</td>
	</tr>
	<tr id="tagflag_checked_clubcontent">
		<td nowrap>&nbsp;</td>
		<td>				
			<table id="club_free" width="100%">
				<tr>
					<td>
						<input type="text" id="club_free_name" name="club_free_name" value="个人剧" style="width: 200px;"  class="t_input" READONLY/>
					</td>
				</tr>
			</table>
			<table id="club_tag" width="100%" border=0>
				<tr>
					<td>
						请确认 该社团/工作室 的编号：　
						<input type="text" id="club_tag_tagid" name="club_tag_tagid" value="" size="8" maxlength="8" onchange="javascript:loadmtagbyid_ajax('1,5');"  class="t_input">
						<a href="#" onclick="javascript:mtagquerymds('1,5');return false;">查询</a>
						
					</td>
				</tr>
				<tr>
					<td>
						群组名称：　<input type="text" id="club_tag_tagname" name="club_tag_tagname" value="" style="border:0px;"  class="t_input" READONLY/>
						　
						群组类型：　<input type="text" id="club_tag_fieldname" name="club_tag_fieldname" value="" style="border:0px;"  class="t_input" READONLY/>
						<input type="hidden" id="product_exist_clubtagid" name="product_exist_clubtagid" value=""/>
			            <input type="hidden" id="product_exist_club" name="product_exist_club" value=""/>
			        </td>
				</tr>
				<tr>
					<td align="right">
						[<a href="#" onclick="javascript:displayInputType_club_tag(false);return false;">没有查到该群组</a>]
					</td>
				</tr>
			</table>
			<table id="club_notag" width="100%">
				<tr>
					<td>
						社团/工作室 名称：　<input type="text" id="club_notag_name" name="club_notag_name" value="" style="width: 200px;"  class="t_input"/>
					</td>
				</tr>
				<tr>
					<td align="right">
						[<a href="#" onclick="javascript:displayInputType_club_tag(true);return false;">重新确认 社团/工作室 的编号</a>]
					</td>
				</tr>
			</table>
			<br/>
		</td>
<script type="text/javascript">

	displayInputType_tagflag();

	function displayInputType_tagflag() {
		if($("resumehistoryid").value>0){
			$("tagflag_content").style.display="none";
			$("tagflag_unchecked_club").style.display="none";
			$("tagflag_unchecked_clubcontent").style.display="none";
			$("tagflag_checked_club").style.display="";
			$("tagflag_checked_clubcontent").style.display="";
			return;
		}
		
		if($("tagflag").checked){
			$("tagflag_checked_club").style.display="";
			$("tagflag_checked_clubcontent").style.display="";
			$("tagflag_unchecked_club").style.display="none";
			$("tagflag_unchecked_clubcontent").style.display="none";
			　
		}else{
			$("tagflag_checked_club").style.display="none";
			$("tagflag_checked_clubcontent").style.display="none";
			$("tagflag_unchecked_club").style.display="";
			$("tagflag_unchecked_clubcontent").style.display="";
		}
	}

	initInputType_club();
	
	function initInputType_club() {
		if($("clubtagid").value!="" && $("clubtagid").value!=0){
			$("clubtype").value=2;
			$("club_tag_tagid").value=$("clubtagid").value;
			$("club_tag_tagname").value=$("club").value;
			
			displayInputType_club();
			displayInputType_club_tag(true);
		}
		else{
			if($("club").value=="个人剧"){
				$("clubtype").value=1;
				$("club_free_name").value="个人剧";

				displayInputType_club();
			}
			else{
				$("clubtype").value=2;
				$("club_notag_name").value=$("club").value;

				displayInputType_club();
				displayInputType_club_tag(false);
			}
		}
	}
	
	function displayInputType_club() {
		if($("clubtype").value=="1"){
			$("club_free").style.display="";
			$("club_tag").style.display="none";
			$("club_notag").style.display="none";
		}

		if($("clubtype").value=="2"){
			$("club_free").style.display="none";
			$("club_tag").style.display="";
			$("club_notag").style.display="none";
		}
	}

	function displayInputType_club_tag(hastag) {
		if( hastag == true ){
			$("club_tag").style.display="";
			$("club_notag").style.display="none";
		}
		else{
			$("club_tag").style.display="none";
			$("club_notag").style.display="";
		}	
	}

	function setInputType_club() {
		
		if( $("resumehistoryid").value==0 && !$("tagflag").checked){
			$("clubtagid").value = $("tagflag_unchecked_clubtagid").value;
			if($("tagflag_unchecked_club").value==""){
				$("club").value = "个人剧";
			}
			else{
				$("club").value = $("tagflag_unchecked_club").value;
			}
			return true;
		}
		
		if( $("clubtype").value=="1" ){
			$("clubtagid").value = 0;
			$("club").value = "个人剧";
		}
		if( $("clubtype").value=="2" ){
			if( $("club_tag").style.display!="none" ){
				if($("club_tag_tagid").value==""){
					alert("请输入该社团/工作组编号！");
					return false;
				}
				$("clubtagid").value = $("club_tag_tagid").value;
				$("club").value = $("club_tag_tagname").value;
			}
			if( $("club_notag").style.display!="none" ){
				if($("club_notag_name").value==""){
					alert("请输入该社团/工作组名称！");
					return false;
				}
				if ($("club_notag_name").value.length > 80) {
					alert("社团/工作组名称太长，请限制在80个字符内！");
					return false;
				}
				$("clubtagid").value = 0
				$("club").value = $("club_notag_name").value.trim();
			}
		}
		return true;
	}
	
	function mtagquerymds(fieldid){
		var args=new Object();
		args.window=window;
		window.showModalDialog("cp.php?ac=mtag&op=querymds&widget=club_tag_tagid&tagid="+$('club_tag_tagid').value+"&lockfieldid="+fieldid
				,args,"dialogWidth:850px;dialogHeight:550px;center:yes;help:no;menubar:no;titleBar:no;resizable:no");
		loadmtagbyid_ajax(fieldid);
	}
			
	function loadmtagbyid_ajax(fieldid){
		var offset = 0;
		var duration = 3;
			
		timeout = 0;
		isbox = 0;
		duration = 0;
					
		showloading();
					
		var form = $('ajaxform');
			
		form.action="cp.php?ac=mtag&op=loadmtagbyid_ajax&tagid="+$('club_tag_tagid').value+"&lockfieldid="+fieldid;
		form.method="post";
				
		ajaxpost('ajaxform', 'loadmtagbyid_ajax_response', 2000);
	}

	function loadmtagbyid_ajax_response(){
		var tagid="";
		var tagname="";
		var fieldname="";
		try{
			var str=$("__ajaxform").innerHTML;
					
			var paramsArray=str.split(",");
			if(paramsArray.length==1){
				alert(str);
				$("club_tag_tagid").value="";
				$("club_tag_tagname").value="";
				$("club_tag_fieldname").value="";
			}else{
				tagid=paramsArray[0];
				tagname=paramsArray[1];
				fieldname=paramsArray[3];
			}
		}
		catch(e){
			alert(e);
		}
		
		$("club_tag_tagid").value=tagid;
		$("club_tag_tagname").value=tagname;
		$("club_tag_fieldname").value=fieldname;
	}
</script>
	</tr>

	<tr>
		<th nowrap>&nbsp;</th>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td nowrap>担任职务：</td>
		<td>
			<input type="hidden" name="jobid" id="jobid" value="$resumehistory[jobid]"/>
			<!--{eval $index=0;}-->
			<!--{loop $_SGLOBAL[jobclass] $key $value}-->
				<!--{if $value[realjob]==1 }-->
					<input type="checkbox" id="jobclass_$value[classid]" name="jobclass_$value[classid]" value="$value[classid]"/>$value[classname]
				<!--{/if}-->
				<!--{if $index==8 }-->
					<br/>
				<!--{/if}-->
				<!--{eval $index=$index+1;}-->
			<!--{/loop}-->
		</td>
	</tr>
	<tr>
		<td valign="top" nowrap>自我介绍：</td>
		<td>
			<script type="text/javascript" src="image/editor/editor_function.js" charset="$_SC[charset]"></script>
			<a id="doodleBox" href="magic.php?mid=doodle&showid=blog_doodle&target=uchome-ttHtmlEditor&from=editor" style="display:none"></a>
			<textarea class="userData" name="introduce" id="uchome-ttHtmlEditor" style="height:100%;width:500px;display:none;border:0px">$resumehistory[introduce]</textarea>
			<iframe src="editor.php?charset=$_SC[charset]&allowhtml=0&doodle=<!--{if isset($_SGLOBAL[magic][doodle])}-->1<!--{/if}-->" name="uchome-ifrHtmlEditor" id="uchome-ifrHtmlEditor" scrolling="no" border="0" frameborder="0" style="width:500px;border: 1px solid #C5C5C5;" height="250"></iframe>
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td>
			<input type="button" name="resumehistorysubmit" value="保存" class="submit" onclick="check_resumehistory();"/>
			<!--{if !empty($resumehistory[resumehistoryid])}--> 
				<input type="button" name="resumehistorydelete" value="删除" class="submit" onclick="check_delete();"/>
			<!--{/if}--> 
			<input type="button" name="resumehistorycancel" value="返回" class="submit" onclick="check_cancel();"/>
		</td>
	</tr>	
	</table>
	
	<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
	</form>
</div>
<script type="text/javascript">

//职务
var jobclass = [];
<!--{loop $_SGLOBAL[jobclass] $key $value}-->
jobclass["$key"] = {};
<!--{loop $value $k $v}-->
	jobclass["$key"]["$k"] = '<!--{eval echo str_replace(array("\r\n","\r","\n"), "<br>", $v)}-->';
<!--{/loop}-->
<!--{/loop}-->

init_jobid();

function init_jobid(){
	var form=$('edit_form');
	var fieldvalue=$('jobid').value;
	for(var i = 0; i < form.elements.length; i++) {
		var e = form.elements[i];
		if(e.type=="checkbox" && e.name.indexOf("jobclass")>=0) {
			var v=','+e.value+',';
			if(fieldvalue.indexOf( v )>=0){
				e.checked=true;
			}else{
				e.checked=false;
			}	
		}
	}
}

function set_jobid(){
	var form=$('edit_form');
	var field=$('jobid');
	var v=",";
	var isblank=true;
	for(var i = 0; i < form.elements.length; i++) {
		var e = form.elements[i];
		if(e.type=="checkbox" && e.name.indexOf("jobclass")>=0) {
			if(e.checked){
				v=v+e.value+",";
				isblank=false;
			}	
		}
	}

	if(isblank){
		field.value="";
	}else{
		field.value=v;
	}
}

//检查提交
function check_resumehistory() {
	
	var productvalid = setInputType_product();
	if(productvalid == false){
		return;
	}

	var clubvalid = setInputType_club();
	if(clubvalid == false){
		return;
	}
	
	// 担任职务
	set_jobid();
	if ($("jobid").value.trim() == "") {
		alert("担任职务不能为空！");
		return false;
	}
	
	// 自我介绍
	edit_save();
	if ($("uchome-ttHtmlEditor").value.trim() == "") {
		alert("自我介绍不能为空！");
		$("uchome-ttHtmlEditor").focus();
		return false;
	}

	$("edit_form").action="cp.php?ac=resume&op=savehistory&resumeid=$resumeid&resumehistory=$resumehistory[resumehistoryid]";
	
	//验证码
	if ($('seccode')) {
		var code = $('seccode').value;
		var x = new Ajax();
		x.get('cp.php?ac=common&op=seccode&code=' + code, function(s) {
			s = trim(s);
			if (s.indexOf('succeed') == -1) {
				alert(s);
				$('seccode').focus();
				return false;
			} else {
				$("edit_form").submit();
			}
		});
	} else {
		$("edit_form").submit();
	}
}
//检查提交
function check_delete() {
	if(confirm("你确定要删除该成就吗？")){
		$("edit_form").action="cp.php?ac=resume&op=deletehistory&resumeid=$resumeid&resumehistory=$resumehistory[resumehistoryid]";
		$("edit_form").submit();
	}
}

//返回
function check_cancel() {
	$("edit_form").action="$_SGLOBAL[refer]";
	$("edit_form").submit();
}


</script>
<table width="100%"><tr><td style="border-top:1px dashed #ECB2C5;" align="center" >&nbsp;</td></tr></table>
<!--{template cp_resumehistory_list}-->
</div>