<div class="tabs_header">
<ul class="tabs">
	<li class="active"><a href="cp.php?ac=topic&op=newtopicforecast"><span>提交广播剧预告</span></a></li>
	<li><a href="space.php?do=topic&view=forecast"><span>返回广播剧预告列表</span></a></li>
</ul>
	<!--{if $_SGLOBAL[refer]}-->
	<div class="r_option"><a href="$_SGLOBAL[refer]">&laquo; 返回上一页</a>
	</div>
	<!--{/if}-->
</div>

<div class="c_form">
<form id="ajaxform" name="ajaxform" method="post" action=""></form>
<div class="neverVisible"><div id="__ajaxform"></div></div>

<form id="edit_form" name="edit_form" method="post" action="cp.php?ac=topic&op=saveforecast&topicforecastid=$topicforecast[topicforecastid]" enctype="multipart/form-data">
<input type="hidden" id="topicforecastid" name="topicforecastid" value="$topicforecast[topicforecastid]" size="80" maxlength="100" />
<table cellspacing="4" cellpadding="4" width="100%" class="infotable">
	<tr>
		<th width="100"></th>
		<td style="color:red">
			提交广播剧预告规则<br/>
			1.提交一部广播剧预告，将消耗你200个积分。<br/>
			2.提交完毕的广播剧预告，无法被再次修改，如果提交后发现有问题，请自己删除。<br/>
			3.如果能够按时发布该广播剧，系统将返还你100积分。<br/>
			4.一旦真正的发布时间晚于预告设定的发布时间，系统会再扣掉你相应的违约金额100积分。<br/>
			所以请确保你填写的发剧时间的正确性。<br/>
			<br/>
			[注]应大家的要求，目前预告模块取消发剧时间的强制设定，大家可以在预告编辑页面，修改/调整发剧时间。
		</td>
	</tr>
	<tr>
		<th width="100">剧名 *</th>
		<td>
			<input type="text" id="subject" name="subject" value="$topicforecast[subject]" class="t_input" size="80" maxlength="100" />
		</td>
	</tr>
	<tr>
		<th>预计发布时间*</th>
		<td>
			<script type="text/javascript" src="source/script_calendar.js" charset="$_SC[charset]"></script>
			<input type="text" name="producedate" id="producedate" value="$topicforecast[producedatedisp]"  class="t_input"/>
		</td>
	</tr>
	<tr>
		<th width="100"></th>
		<td style="color:red">请保证按时发布该剧。</td>
	</tr>
	<tr>
		<th width="100">标签</th>
		<td><input type="text" id="label" name="label" value="$topicforecast[label]" class="t_input" size="80" maxlength="100" /></td>
	</tr>
	<tr>
		<th></th>
		<td>
			标签指的是该广播剧的相关属性：时代（古风，现代等），类型（爱情，武侠等），风格（悲剧，搞笑等）。<br/>
			标签与标签之间，请用'/'隔开。每个标签需控制在8个字符内。
		</td>
	</tr>
	<tr>
		<th width="100">作品简介*</th>
		<td>
			<a id="doodleBox" href="magic.php?mid=doodle&showid=blog_doodle&target=uchome-ttHtmlEditor&from=editor" style="display:none"></a>
			<textarea class="userData" name="message" id="uchome-ttHtmlEditor" style="height:100%;width:500px;display:none;border:0px">$topicforecast[message]</textarea>
			<iframe src="editor.php?charset=$_SC[charset]&allowhtml=0&doodle=<!--{if isset($_SGLOBAL[magic][doodle])}-->1<!--{/if}-->" name="uchome-ifrHtmlEditor" id="uchome-ifrHtmlEditor" scrolling="no" border="0" frameborder="0" style="width:500px;border: 1px solid #C5C5C5;" height="400"></iframe>
		</td>
	</tr>
	<tr>
		<th width="100">作品类型 *</th>
		<td><select name="productclassid" id="productclassid" class="t_input" onchange="javascript:displayProductClassDescription()">
			<option value="-1">请选择作品类型</option>
			<!--{loop $_SGLOBAL[productclass] $key $value}-->
			<option value="$key"<!--{if $topicforecast[productclassid] == $key}-->
			selected<!--{/if}--> >$value[classname]</option>
			<!--{/loop}-->
		</select></td>
	</tr>
	<tr>
		<th width="100">作品类型描述 </th>
		<td id="productClassDescription">&nbsp;</td>
	</tr>
	<tr>
		<th width="100">所属团队</th>
		<td>
			<input type="hidden" id="club" name="club" value="$topicforecast[club]"/>
			<input type="hidden" id="clubtagid" name="clubtagid" value="$topicforecast[clubtagid]"/>
			
			<select id="clubtype" name="clubtype" class="t_input" onchange="javascript:displayInputType_club()">
				<option value="1">个人剧</option>
				<option value="2">社团</option>
			</select>
		</td>
	</tr>
	<tr>
		<td nowrap>&nbsp;</td>
		<td>				
			<table id="club_free" width="100%">
				<tr>
					<td>
						<input type="text" id="club_free_name" name="club_free_name" value="个人剧" class="t_input" style="width: 200px;" READONLY/>
					</td>
				</tr>
			</table>
			<table id="club_tag" width="100%" border=0>
				<tr>
					<td>
						请确认 该社团/工作室 的编号：　
						<input type="text" id="club_tag_tagid" name="club_tag_tagid" value="" class="t_input" size="8" maxlength="8" onchange="javascript:loadmtagbyid_ajax('1,5');">
						<a href="#" onclick="javascript:mtagquerymds('1,5');return false;">查询</a>
						
					</td>
				</tr>
				<tr>
					<td>
						群组名称：　<input type="text" id="club_tag_tagname" name="club_tag_tagname" value="" class="t_input" style="border:0px;" READONLY/>
						　
						群组类型：　<input type="text" id="club_tag_fieldname" name="club_tag_fieldname" value="" class="t_input" style="border:0px;" READONLY/>
					</td>
				</tr>
				<tr>
					<td align="right">
						[<a href="#" onclick="javascript:displayInputType_club_tag(false);return false;">没有查到该群组</a>]
					</td>
				</tr>
			</table>
			<table id="club_notag" width="100%">
				<tr>
					<td>
						社团/工作室 名称：　<input type="text" id="club_notag_name" name="club_notag_name" value="" class="t_input" style="width: 200px;"/>
					</td>
				</tr>
				<tr>
					<td align="right">
						[<a href="#" onclick="javascript:displayInputType_club_tag(true);return false;">重新确认 社团/工作室 的编号</a>]
					</td>
				</tr>
			</table>
			<br/>
		</td>
<script type="text/javascript">

	initInputType_club();
	
	function initInputType_club() {
		if($("clubtagid").value!="" && $("clubtagid").value!=0){
			$("clubtype").value=2;
			$("club_tag_tagid").value=$("clubtagid").value;
			$("club_tag_tagname").value=$("club").value;
			
			displayInputType_club();
			displayInputType_club_tag(true);
		}
		else{
			if($("club").value=="个人剧"){
				$("clubtype").value=1;
				$("club_free_name").value="个人剧";

				displayInputType_club();
			}
			else{
				$("clubtype").value=2;
				$("club_notag_name").value=$("club").value;

				displayInputType_club();
				displayInputType_club_tag(false);
			}
		}
	}
	
	function displayInputType_club() {
		if($("clubtype").value=="1"){
			$("club_free").style.display="block";
			$("club_tag").style.display="none";
			$("club_notag").style.display="none";
		}

		if($("clubtype").value=="2"){
			$("club_free").style.display="none";
			$("club_tag").style.display="block";
			$("club_notag").style.display="none";
		}
	}

	function displayInputType_club_tag(hastag) {
		if( hastag == true ){
			$("club_tag").style.display="block";
			$("club_notag").style.display="none";
		}
		else{
			$("club_tag").style.display="none";
			$("club_notag").style.display="block";
		}	
	}

	function setInputType_club() {
		if( $("clubtype").value=="1" ){
			$("clubtagid").value = 0;
			$("club").value = "个人剧";
		}
		if( $("clubtype").value=="2" ){
			if( $("club_tag").style.display=="block" ){
				if($("club_tag_tagid").value==""){
					alert("请输入该社团/工作组编号！");
					return false;
				}
				$("clubtagid").value = $("club_tag_tagid").value;
				$("club").value = $("club_tag_tagname").value;
			}
			if( $("club_notag").style.display=="block" ){
				if ($("club_notag_name").value.length > 80) {
					alert("社团/工作组名称太长，请限制在80个字符内！");
					return false;
				}
				$("clubtagid").value = 0
				$("club").value = $("club_notag_name").value.trim();
			}
		}
		return true;
	}
	
	function mtagquerymds(fieldid){
		var args=new Object();
		args.window=window;
		window.showModalDialog("cp.php?ac=mtag&op=querymds&widget=club_tag_tagid&tagid="+$('club_tag_tagid').value+"&lockfieldid="+fieldid
				,args,"dialogWidth:850px;dialogHeight:550px;center:yes;help:no;menubar:no;titleBar:no;resizable:no");
		loadmtagbyid_ajax(fieldid);
	}
			
	function loadmtagbyid_ajax(fieldid){
		var offset = 0;
		var duration = 3;
			
		timeout = 0;
		isbox = 0;
		duration = 0;
					
		showloading();
					
		var form = $('ajaxform');
			
		form.action="cp.php?ac=mtag&op=loadmtagbyid_ajax&tagid="+$('club_tag_tagid').value+"&lockfieldid="+fieldid;
		form.method="post";
				
		ajaxpost('ajaxform', 'loadmtagbyid_ajax_response', 2000);
	}

	function loadmtagbyid_ajax_response(){
		var tagid="";
		var tagname="";
		var fieldname="";
		try{
			var str=$("__ajaxform").innerHTML;
					
			var paramsArray=str.split(",");
			if(paramsArray.length==1){
				alert(str);
				$("club_tag_tagid").value="";
				$("club_tag_tagname").value="";
				$("club_tag_fieldname").value="";
			}else{
				tagid=paramsArray[0];
				tagname=paramsArray[1];
				fieldname=paramsArray[3];
			}
		}
		catch(e){
			alert(e);
		}
		
		$("club_tag_tagid").value=tagid;
		$("club_tag_tagname").value=tagname;
		$("club_tag_fieldname").value=fieldname;
	}
</script>
	</tr>	
	<tr>
		<th></th>
		<td>
			<span style="color:red">[注]以下信息只需要填写成员名，不需要填写角色名和CV，以免影响搜索。成员与成员之间，请用'/'隔开。</span>
		</td>
	</tr>
	<tr>
		<th>导演</th>
		<td>
			<input type="text" id="director" name="director" value="$topicforecast[director]" class="t_input" size="80" maxlength="100" />
		</td>
	</tr>
	<tr>
		<th>监制</th>
		<td>
			<input type="text" id="producer" name="producer" value="$topicforecast[producer]" class="t_input" size="80" maxlength="200" />
		</td>
	</tr>
	<tr>
		<th>策划</th>
		<td>
			<input type="text" id="cehua" name="cehua" value="$topicforecast[cehua]" class="t_input" size="80" maxlength="100" />
		</td>
	</tr>
	<tr>
		<th>原著</th>
		<td>
			<input type="text" id="yuanzhu" name="yuanzhu" value="$topicforecast[yuanzhu]" class="t_input" size="80" maxlength="100" />
		</td>
	</tr>
	<tr>
		<th>编剧</th>
		<td>
			<input type="text" id="writer" name="writer" value="$topicforecast[writer]" class="t_input" size="80" maxlength="100" />
		</td>
	</tr>
	<tr>
		<th>CAST</th>
		<td>
			<input type="text" id="cast" name="cast" value="$topicforecast[cast]" class="t_input" size="80" maxlength="200" />
		</td>
	</tr>
	<tr>
		<th>后期制作</th>
		<td>
			<input type="text" id="effector" name="effector" value="$topicforecast[effector]" class="t_input" size="80" maxlength="200" />
		</td>
	</tr>
	<tr>
		<th>美工</th>
		<td>
			<input type="text" id="photographer" name="photographer" value="$topicforecast[photographer]" class="t_input" size="80" maxlength="200" />
		</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td>
			<input type="button" name="topicdelete" value="删除预告" class="submit" onclick="check_topicforecastdelete();"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="button" name="topicsubmit" value="保存预告" class="submit" onclick="check_topicforecastpost();"/>
		</td>
	</tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->"/></form>
</div>


<script type="text/javascript" src="image/editor/editor_function.js" charset="$_SC[charset]"></script>
<script type="text/javascript">
	function displayProductClassDescription() {
		var selIndex=$('productclassid').value;
		if(selIndex=='1'){//BG广播剧
			$('productClassDescription').innerHTML="BG广播剧：带BL色彩的BG，请选择BG。";
		}else if(selIndex=='2'){//BL广播剧
			$('productClassDescription').innerHTML="BL广播剧：懂就可以了。";
		}else if(selIndex=='3'){
			$('productClassDescription').innerHTML="GL广播剧：懂就可以了。";
		}else if(selIndex=='4'){//全年龄
			$('productClassDescription').innerHTML="全年龄广播剧：科幻，恐怖，悬疑，侦探，武侠。";
		}else if(selIndex=='5'){//恶搞
			$('productClassDescription').innerHTML="恶搞：对传统的颠覆。";
		}else if(selIndex=='99'){//其它
			$('productClassDescription').innerHTML="其他：有声读物。";
		}else{
			$('productClassDescription').innerHTML="请选择作品类型";
		} 
	}
	displayProductClassDescription();

	//删除
	function check_topicforecastdelete() {
		if(confirm("你确定要删除该广播剧预告吗？")){
			$("edit_form").action="cp.php?ac=topic&op=deleteforecast&topicforecastid=$topicforecast[topicforecastid]";
			$("edit_form").submit();
		}
	}
	
	//检查提交
	function check_topicforecastpost() {

		// 标题
		if ($("subject").value.trim() == "") {
			alert("剧名不能为空！");
			$("subject").focus();
			return false;
		} else if ($("subject").value.trim().length > 80) {
			alert("剧名太长，请限制在80个字符内！");
			$("subject").focus();
			return false;
		}

		if ($("producedate").value.trim() == "") {
			alert("发布时间不能为空！");
			$("producedate").focus();
			return false;
		}
		
		// 编辑器内容同步
		edit_save();

		// 作品简介
		if ($("uchome-ttHtmlEditor").value.trim() == "") {
			alert("作品简介不能为空！");
			$("uchome-ttHtmlEditor").focus();
			return false;
		}

		// 作品类型
		if (parseInt($("productclassid").value) <= 0) {
			alert("作品类型必须选择。");
			$("productclassid").focus();
			return false;
		}

		// 所属团队	
		var clubvalid = setInputType_club();
		if (clubvalid == false) {
			$("clubtype").focus();
			return false;
		}

		// 导演	
		if ($("director").value.trim().length > 100) {
			alert("导演输入太长，请限制在100个字符内！");
			$("director").focus();
			return false;
		}

		// 原著
		if ($("yuanzhu").value.trim().length > 100) {
			alert("原著输入太长，请限制在100个字符内！");
			$("yuanzhu").focus();
			return false;
		}

		// 策划
		if ($("cehua").value.trim().length > 100) {
			alert("策划输入太长，请限制在100个字符内！");
			$("cehua").focus();
			return false;
		}
		
		// 监制
		if ($("producer").value.trim().length > 200) {
			alert("监制输入太长，请限制在200个字符内！");
			$("producer").focus();
			return false;
		}

		// 编剧
		if ($("writer").value.trim().length > 100) {
			alert("编剧输入太长，请限制在100个字符内！");
			$("writer").focus();
			return false;
		}

		// CAST
		if ($("cast").value.trim().length > 200) {
			alert("CAST输入太长，请限制在200个字符内！");
			$("cast").focus();
			return false;
		}

		// 后期制作
		if ($("effector").value.trim().length > 200) {
			alert("后期制作输入太长，请限制在200个字符内！");
			$("effector").focus();
			return false;
		}
		
		// 美工
		if ($("photographer").value.trim().length > 200) {
			alert("美工输入太长，请限制在200个字符内！");
			$("photographer").focus();
			return false;
		}

		//验证码
		if ($('seccode')) {
			var code = $('seccode').value;
			var x = new Ajax();
			x.get('cp.php?ac=common&op=seccode&code=' + code, function(s) {
				s = trim(s);
				if (s.indexOf('succeed') == -1) {
					alert(s);
					$('seccode').focus();
					return false;
				} else {
					$("edit_form").action="cp.php?ac=topic&op=saveforecast&topicforecastid=$topicforecast[topicforecastid]";
					$("edit_form").submit();
				}
			});
		} else {
			$("edit_form").action="cp.php?ac=topic&op=saveforecast&topicforecastid=$topicforecast[topicforecastid]";
			$("edit_form").submit();
		}
	}
</script>