<form id="inviteform" name="inviteform" method="post" action="cp.php?ac=video&op=invite&videoid=$video[videoid]&group=$_GET[group]&page=$_GET[page]&start=$_GET[start]">
<div id="content" style="width: 640px;">
	<div class="h_status">
		您可以邀请下列好友来欣赏<a href="space.php?do=video&videoid=$video[videoid]">你的视频作品 </a>
	</div>
	
	<div class="h_status">
		<!--{if $list}-->
		<ul class="avatar_list">
		<!--{loop $list $value}-->
			<li>
				<div class="avatar48">
					<a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}"><!--{avatar($value[fuid],small)}--></a>
				</div>
				<p>
					<a href="space.php?uid=$value[fuid]" title="{$_SN[$value[fuid]]}">{$_SN[$value[fuid]]}</a>
				</p>
				<p>
				<!--{if empty($invitearr[$value[fuid]])}-->
					<input type="checkbox" name="ids[]" value="$value[fuid]">选定
				<!--{else}-->
					已邀请
				<!--{/if}-->
				</p>
			</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi</div>
		<!--{else}-->
		<div class="c_form">还没有好友。</div>
		<!--{/if}-->
	</div>
	<p>
	<!--{if $list}-->
		<input type="checkbox" id="chkall" name="chkall" onclick="checkAll(this.form, 'ids')">全选 &nbsp;
		<input type="hidden" id="invitesubmittype" name="invitesubmittype" value="1" />
		<input type="button" value="邀请我选择的好友" class="submit" onclick="javascript:invite();"/>
		<!-- input type="button" value="邀请我的所有好友" class="submit" onclick="javascript:inviteall();"/ -->
	<!--{/if}-->
	</p>
</div>

<div id="sidebar" style="width: 150px;">
	<div class="cat">
		<h3>好友分类</h3>
		<ul class="post_list line_list">
			<li<!--{if $_GET[group]==-1}--> class="current"<!--{/if}-->><a href="cp.php?ac=video&op=invite&videoid=$video[videoid]&group=-1">全部好友</a></li>
			<!--{loop $groups $key $value}-->
			<li<!--{if $_GET[group]==$key}--> class="current"<!--{/if}-->><a href="cp.php?ac=video&op=invite&videoid=$video[videoid]&group=$key">$value</a></li>
			<!--{/loop}-->
		</ul>
	</div>
</div>


<script type="text/javascript">

	//检查提交
	function invite() {
		$('invitesubmittype').value=1;//invite with target
		$("inviteform").submit();
	}

	function inviteall() {
		$('invitesubmittype').value=2;//invite all
		$("inviteform").submit();
	}
	
</script>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>