<table cellspacing="0" cellpadding="0" border=0 width="100%">
<!--{loop $thread_mtag_list $key $value}-->
	<tr height="31px" <!--{if $key%2==1}--> class="alt"<!--{/if}-->>
		<td width="1%" align="left">
			&nbsp;
		</td>
		<td width="1%" align="left" nowrap style="background:url(template/default/image/portal/nikeyipoint.gif) no-repeat 0px 15px;border-bottom:1px solid #FFD6A4;">
			&nbsp;&nbsp;&nbsp;<span style="color:black; font-weight: bold;"><a class="titlea" href="space.php?do=mtag&tagid=$value[tagid]" title="$value[tagname]" target="_blank"><!--{eval echo getstr($value[tagname], 16, 0, 0, 0, 0, -1); }--></a></span>
		</td>
		<td align="left" nowrap style="border-bottom:1px solid #FFD6A4;">
			<span class="r_option"><span class="egz" title="ä¯ÀÀ[{$value[viewnum]}]´Î£¬»Ø¸´[{$value[replynum]}]´Î">[{$value[replynum]}]</span></span>
			<span style="color:red; font-weight: bold;">$value[prefix]&nbsp;&nbsp;</span><a href="space.php?do=thread&tid=$value[tid]" title="$value['subject'] - By $value['username']" target="_blank"><!--{eval echo getstr($value[subject], 36, 0, 0, 0, 0, -1); }--></a>
		</td>
		<td nowrap width="1%">&nbsp;</td>
	</tr>
<!--{/loop}-->
</table>