<!--{if $dispintromusic==1}-->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="965" height="0">
   	<param name="movie" value="swf/2.swf?file={$intromusicname}&amp;showDownload=false&amp;backColor=ffffff&amp;frontColor=ffffff&amp;songVolume=100&autoStart=true">
    <param name="quality" value="high">
 	<param value="transparent" name="wmode">
   	<embed src="swf/2.swf?file={$intromusicname}&amp;showDownload=false&amp;backColor=ffffff&amp;frontColor=ffffff&amp;songVolume=100&autoStart=true" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="965" height="0">
</object>
<!--{/if}-->