<h2 class="subtitle"><span style="border-bottom: 1 dotted #ECB2C5;">&nbsp;&nbsp;第{$dispweek}周点击量排行榜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2>

<table cellpadding="1" cellspacing="0" width="95%" align="center" border="0">
	<!--{loop $weeklytopiclist $key $value}-->
	<tr height="30px">
	
		<td nowrap style="border-bottom:1px solid #FFD6A4;">
			<span class="egz">$value[weekviewnum]</span>&nbsp;&nbsp;
		</td>
		<td nowrap style="border-bottom:1px solid #FFD6A4;">
			<a href="space.php?uid=$value[uid]&do=topic&topicid=$value[topicid]" title="$value[hint]" target="_blank" ><!--{eval echo getstr($value[subject], 26, 0, 0, 0, 0, -1); }--></a>
		</td>
		<td nowrap width="1%" align="right" style="border-bottom:1px solid #FFD6A4;">
				<span class="gray">$value[productclassname]</span>
		</td>
	</tr>
	<!--{/loop}-->
</table>

<h2 class="subtitle"><span style="border-bottom: 1 dotted #ECB2C5;">&nbsp;&nbsp;点击量总排行榜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2>

<table cellpadding="1" cellspacing="0" width="95%" align="center" border="0">
	<!--{loop $totaltopiclist $key $value}-->
	<tr height="30px">
		<td nowrap style="border-bottom:1px solid #FFD6A4;">
			<span class="egz">$value[viewnum]</span>&nbsp;&nbsp;
		</td>
		<td nowrap style="border-bottom:1px solid #FFD6A4;">
			<a href="space.php?uid=$value[uid]&do=topic&topicid=$value[topicid]" title="$value[hint]" target="_blank" ><!--{eval echo getstr($value[subject], 26, 0, 0, 0, 0, -1); }--></a>
		</td>
		<td nowrap width="1%" align="right" style="border-bottom:1px solid #FFD6A4;">
			<span class="gray">$value[productclassname]</span>
		</td>
	</tr>
	<!--{/loop}-->
</table>