<div class="topicrecommandtitle"></div>
<div class="topicrecommandborder">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cabversion=6,0,0,0" width="291" height="388">
<param name="movie" value="image/imageslider.swf">
<param name="quality" value="high"><param name="wmode" value="opaque">
<param name="FlashVars" value="$topic_recommand_flashvar">
<embed src="image/imageslider.swf" FlashVars="$topic_recommand_flashvar" quality="high" width="291" height="388" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
</div>