<!--{eval $_TPL['titles'] = array('分享');}-->
<!--{template header}-->


<!--{if !empty($_SGLOBAL[inajax])}-->
	<div id="space_share">
		<h3 class="feed_header">
			<a href="space.php?do=share&view=me" class="r_option" target="_blank">添加分享</a>
			分享(共 $count 个)</h3>
		
		<!--{if $list}-->
		<ul class="line_list">
			<!--{loop $list $value}-->
				<!--{template space_share_li}-->
			<!--{/loop}-->
			<div class="page">$multi</div>
		</ul>
		<!--{else}-->
		<div class="c_form">现在还没有分享</div>
		<!--{/if}-->
		
	</div><br>
<!--{else}-->

<!--{if $space[self]}-->
<h2 class="title"><img src="image/app/share.gif" />分享</h2>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="space.php?uid=$space[uid]&do=share"><span>好友的分享</span></a></li><!--{/if}-->
		<li$actives[all]><a href="space.php?uid=$space[uid]&do=share&view=all"><span>大家的分享</span></a></li>
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=share&view=me"><span>我的分享</span></a></li>
	</ul>
</div>
<!--{else}-->
<!--{eval
	$_TPL['spacetitle'] = "分享";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=share&view=me\">TA的所有分享</a>";
}-->
<!--{template space_menu}-->
<!--{/if}-->

<div id="content" style="width: 590px;">
	<ul id="share_ul">
		<!--{if $list}-->
			<!--{loop $list $value}-->
				<!--{template space_share_li}-->
			<!--{/loop}-->
			<div class="page">$multi</div>
		<!--{else}-->
			<li><div class="c_form">现在还没有分享。</div></li>
		<!--{/if}-->
	</ul>

</div>


<div id="sidebar" style="width: 200px;">
	<div class="sidebox">
		<h2 class="title">
			<p class="r_option">
				<a href="$theurl">全部</a>
			</p>
			分享类型
		</h2>
		<ul class="event_cat">
			<li $sub_actives[type_tone]><a href="$theurl&type=tone">声线</a></li>
			<li $sub_actives[type_topic]><a href="$theurl&type=topic">广播剧</a></li>
			<li $sub_actives[type_cover]><a href="$theurl&type=cover">翻唱</a></li>
			<li $sub_actives[type_video]><a href="$theurl&type=video">视频</a></li>
			<li $sub_actives[type_mtag]><a href="$theurl&type=mtag">圈子</a></li>
			<li $sub_actives[type_event]><a href="$theurl&type=event">招募</a></li>
			<li $sub_actives[type_blog]><a href="$theurl&type=blog">日记</a></li>
			<li $sub_actives[type_repaste]><a href="$theurl&type=repaste">转帖</a></li>
			<li $sub_actives[type_album]><a href="$theurl&type=album">相册</a></li>
			<li $sub_actives[type_pic]><a href="$theurl&type=pic">图片</a></li>
			<li $sub_actives[type_thread]><a href="$theurl&type=thread">话题</a></li>
			<li $sub_actives[type_poll]><a href="$theurl&type=poll">投票</a></li>
			<li $sub_actives[type_space]><a href="$theurl&type=space">用户</a></li>
			<li $sub_actives[type_tag]><a href="$theurl&type=tag">TAG</a></li>
		</ul>	
	</div>
</div>
<!--{/if}-->
<!--{template footer}-->
