<object id="vid" classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA" width=100% height=100>
<param name="_ExtentX" value="11298"/>
<param name="_ExtentY" value="200"/>
<!-- 参数：autostart 属性：True或是False 作用：指定是否自动播放指定的源文件  -->
<param name="AUTOSTART" value="1"/>
<!-- 参数：shuffle 属性：True或是False 作用：同多文件片的ram文件或是SMIL文件一起使用。可以让RealPlayer随机播放列表中的文件  -->
<param name="SHUFFLE" value="0"/>
<!-- 参数：prefetch 属性：True或是False 作用：指定在播放前，RealPlayer是否可以获得流描述信息，默认值是False  -->
<param name="PREFETCH" value="0"/>
<!-- 参数：nolabels 属性：True或是False 作用：可以禁止显示标题或是版权信息 -->
<param name="NOLABELS" value="-1"/>
<!-- 参数：src 属性：任何合法的相对或是完整的URL 作用：指定播放的文件或是源文件的地址  -->
<param name="SRC" value="rtsp://60.63.5.197:30002/broadcast/live.rm"/>
<!-- 参数：controls 属性：ImageWindow，All，ControlPanel，PlavButton，PlayOnlyButton， PauseButton,StopButton，FFCtrl，RWCtrl，MuteCtrl，MuteVolume，VolumeSlider，PositionSlider,TACCtrl，HomeCtrl，InfoVolumePanel，InfoPanel，StatusBar，StatusField，PositionField 作用：可以让你指定那些控制是可见的。  -->
<param name="CONTROLS" value="PlavButton"/>
<!-- 参数：console 属性：任何字符串作用：可以将各种不同的RealPlayer控制聚集在网页上，这样它们可以交互使用或是保持独立，而且互相不影响  -->
<param name="CONSOLE" value="clip1"/>
<!-- 参数：loop 属性：True或是False 作用：可以让你指定片断是否无限循环  -->
<param name="LOOP" value="0"/>
<!-- 参数：numloop 属性：任何整数值作用：让你能够指定文件片循环的次数，不需要参数loop  -->
<param name="NUMLOOP" value="0"/>
<!-- 参数：center 属性：True或是False 作用：指定片断使用初始编码大小播放，并且在图像窗口的中央。  -->
<param name="CENTER" value="1"/>
<!-- 参数：maintainaspect 属性：True或是False 作用：默认RealPlayer拉伸所有的片断来充满整个图像窗口。  -->
<param name="MAINTAINASPECT" value="1"/>
<!-- 参数：backgroundcolor 属性：任何用符号“#”开头的16进制数值或是任何预定义的颜色作用：指定图像窗口的背景颜色  -->
<param name="BACKGROUNDCOLOR" value="#EEEEEE"/>
</object> 