<div class="affiche">
	<table width="510px" cellspacing="0" cellpadding="0" border=0>
		<tr>
			<td align="right">
				<span class="gray">视频作品编号: $video[videoid]</span>
			</td>
		</tr>
		<tr>
			<td align="center">
				$video['productpath']
			</td>
		</tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0">
	  				<tr>
	  					<td width="200px" align="left" nowrap>
	  						<!--{if ( (!empty($_SGLOBAL['supe_uid'])) && ($video[uid]!=$_SGLOBAL['supe_uid']) ) }-->
	  							<a id="a_toshare" href="#" onclick="toshare();return false;" target="_blank">收藏</a><span class="pipe">|</span>
				  				<a href="cp.php?ac=share&type=video&id=$video[videoid]" id="a_share_$video[videoid]" onclick="ajaxmenu(event, this.id, 1)">分享</a><span class="pipe">|</span>
				  			<!--{/if}-->
				  			
				  			<a id="a_report" href="cp.php?ac=common&op=report&idtype=videoid&id=$video[videoid]" onclick="ajaxmenu(event, this.id, 1)">举报</a><span class="pipe">|</span>
				
	  					</td>
	  					
						<td width="99%" nowrap>
							&nbsp;	
	  					</td>
						
						<!--{if empty($videopoll) }-->
			  				<td id="poll_content" width="300px" nowrap>
					  			<span class="pipe">|</span><span id="span_poll_label" class="gray">请您对该作品进行评级：</span>
								<img id="img_poll_1" src="/image/nst.gif" style="cursor:pointer;" onMouseOver="javascript:renderPollStar(1);"/>
					  			<img id="img_poll_2" src="/image/nst.gif" style="cursor:pointer;" onMouseOver="javascript:renderPollStar(2);"/>
					  			<img id="img_poll_3" src="/image/nst.gif" style="cursor:pointer;" onMouseOver="javascript:renderPollStar(3);"/>
					  			<img id="img_poll_4" src="/image/nst.gif" style="cursor:pointer;" onMouseOver="javascript:renderPollStar(4);"/>
					  			<img id="img_poll_5" src="/image/nst.gif" style="cursor:pointer;" onMouseOver="javascript:renderPollStar(5);"/>
					  			<input id="videopollvalue" name="videopollvalue" type="hidden" value="0"/>
					  			<a id="a_poll" href="#" onclick="javascript:toPollValue();return false;">评级</a>
					  		</td>
						<!--{else}-->
							<td id="poll_label" width="120px" nowrap>
					  			<span class="pipe">|</span><span id="span_poll_label" class="gray">您给予的评级是：</span>
					  		</td>
					  		<td id="poll_content" width="100px" nowrap>
					  			<span class="bigstar$videopoll[pollvalue]0">　　　　　</span>
					  		</td>
						<!--{/if}-->
					</tr>
	  			</table>
	  		</td>
		</tr>
		<tr>
			<td>&nbsp;	
			</td>
		</tr>
		<tr>
			<td>
				<table width="100%">
					<tr>
						<td colspan="2" align="left" valign="top">
							<span class="gray">作品类型: </span>$video[productclassname]&nbsp;<br/>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="left" valign="top">
							<span class="gray">标签　　: </span>$video[label]&nbsp;<br/>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="left" valign="top">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td width="50%" align="left" valign="top">
							<span class="gray">所属团队: </span><!--{if empty($video[clubtagid])}-->$video[club]<!--{else}--><a href="space.php?do=mtag&tagid=$video[clubtagid]" target="_blank">$video[club]</a><!--{/if}-->&nbsp;<br/>
							<span class="gray">片源　　: </span>$video[provider]&nbsp;<br/>
							<span class="gray">字幕　　: </span>$video[captionsmaker]&nbsp;<br/>
							<span class="gray">台词整理: </span>$video[linesmaker]&nbsp;<br/>
							<br/>
						</td>
						<td width="50%" align="left" valign="top">
							<span class="gray">导演　　: </span>$video[director]&nbsp;<br/>
							<span class="gray">监制　　: </span>$video[producer]&nbsp;<br/>
							<span class="gray">后期制作: </span>$video[effector]&nbsp;<br/>
							<span class="gray">美工　　: </span>$video[photographer]&nbsp;<br/>
							<br/>
						</td>
					</tr>
					<tr>
						<td align="left" valign="top" colspan="2">
							<span class="gray">CAST　　: </span>$video[cast]&nbsp;<br/>
						</td>
					</tr>
					<tr>
						<td width="50%" align="left" valign="top">
							<br/>
							<span class="gray">发布时间: </span>$video[dispproducedate]&nbsp;<br/>
						</td>
						<td width="50%" align="left" valign="top">
							<br/>
							<span class="gray">提供时间: </span>$video[dispdateline]&nbsp;<br/>
							<span class="gray">提供者　: </span><a href="space.php?uid=$video[uid]" target="_blank">$video[username]</a>&nbsp;<br/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;	
			</td>
		</tr>
		<tr>
			<td><span class="gray">作品介绍：</span></td>
		</tr>
		<tr>
			<td align="left" >
				<div style="width:510px; height:450px; overflow:scroll;">$video[message]</div>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">

<!--{if !empty($_SGLOBAL['supe_uid']) }-->
var inShare=$inShare;
renderShareButton();

function toshare() {
	
	var offset = 0;
	var duration = 3;
	
	timeout = 0;
	isbox = 0;
	duration = 0;
	
	showloading();
	
	var form = $('actionForm');
	if(inShare==0){
		inShare=1;
		form.action="cp.php?ac=video&op=share&videoid=$video[videoid]&toshare="+inShare;
		
	}else if(inShare==1){
		inShare=0;
		form.action="cp.php?ac=video&op=share&videoid=$video[videoid]&toshare="+inShare;
	}
	
	ajaxpost('actionForm', 'renderShareButton', 2000);
}

function renderShareButton(id, result) {
  
	$("__actionForm").style.display = 'none';		
	
	if(result!=null){
		var str=$("__actionForm").innerHTML;
		var paramsArray=str.split(",");
		inShare=paramsArray[1];
		if(inShare==0){
			$("a_toshare").innerHTML="收藏";
		}else if(inShare==1){
			$("a_toshare").innerHTML="取消收藏";
		}
	}else{
		if(inShare==0){
			$("a_toshare").innerHTML="收藏";
		}else if(inShare==1){
			$("a_toshare").innerHTML="取消收藏";
		}
	}
}
<!--{/if}-->

function renderDownloadButton(id, result) {
}

<!--{if empty($videopoll) }-->
function renderPollStar(value) {
	if($('a_poll').style.display=="none"){
		return;
	}
	
	for(var i=1;i<=value;i++) {
		$('img_poll_'+i).src="/image/sth.gif";
	}
	for(var i=value+1;i<=5;i++) {
		$('img_poll_'+i).src="/image/nst.gif";
	}
	$('videopollvalue').value=value;
}

function toPollValue() {
	var offset = 0;
	var duration = 3;
	
	timeout = 0;
	isbox = 0;
	duration = 0;
	
	var videopollvalue=$('videopollvalue').value;
	if(videopollvalue>=1 && videopollvalue<=5){
		if(confirm("您确定要将该视频作品评级为 ["+videopollvalue+"颗星] 吗？")){
			showloading();
			
			var form = $('actionForm');
			form.action="cp.php?ac=video&op=poll&videoid=$video[videoid]&videopollvalue="+videopollvalue;
			ajaxpost('actionForm', 'renderPollValue', 2000);
		}
	}else{
		alert("请选择评分等级");
	}
}

function renderPollValue(id, result) {
  
	$("__actionForm").style.display = 'none';		
	
	if(result!=null){
		var str=$("__actionForm").innerHTML;
		var paramsArray=str.split(",");
		if(paramsArray.length>1){
			videoid=paramsArray[0];
			pollvalue=paramsArray[1];

			$('span_poll_label').innerHTML="您给予的评级是：";
			$('a_poll').style.display="none";
			for(var i=1;i<=5;i++) {
				$('img_poll_'+i).onMouseOver="";
			}
			ajaxget('cp.php?ac=video&op=viewpoll&videoid='+videoid, 'video_poll_content');
		}
	}
}
<!--{/if}-->
</script>